.header
{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.header__text
{
    font-weight: 600;
    color: #009fff;
	font-size: 15px;
}

.email_not_activate
{
	color:red;
}
.header__text_btn
{
	display: flex;
    align-items: center;
}

.header_wrapper_btn
{
	position: relative;
}
